<br>
<%=link_to image_tag("/assets/back.png", size:"30x30"),store_path,class:'btn back',role:'button'%>
<center><h3 class="daily_Report_heading" >Daily Report</h3></center> 
<!-- <br><br><br><br><br><br> --><br><br>
<div class="card filter" style="width: 650px;">
    
    <div class="card-body">
      
 <%= form_with  url:daily_report_store_url, local: true ,html: {class: "date_form"}  do |form| %>
    <%= form.date_field :day  , class:"form",required: true,label: 'Select Date'%>&nbsp;&nbsp;
<%= form.submit "FILTER", class:"daily_report_submit"  %>
<% end %>
              
    </div>
</div>
  <br><br><br><br>
  <form class="d-flex daily_search">
     <input  onkeyup="searchStore()" id="searchbar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></form>
<%=link_to image_tag("/assets/data-transfer-download.png" ,height:"20px", width:"20px", class:"download")+" Export to CSV",daily_report_store_path(format: :csv, params: params.to_unsafe_h),class:"btn daily_report",role:'button'%>
<br>
  <div class="row justify-content-center ">
    <div class="col-auto index-table">
   
<div class="table-responsive">   
   
<table class="table table-hover table-borderless  daily_report_table" id="table_id" summary="Store list">

    <tr class="header">
        <th scope="col" class="col">Store ID</th>
        <th scope="col" class="col">Store Name</th>
        <th scope="col"class="col">TID</th>
        <th scope="col" class="col">Txn ID</th>
        <th scope="col" class="col">Name</th>
        <th scope="col" class="col">Card Type</th>
        <th scope="col" class="col">Card Color</th>
        <th scope="col" class="col">Amount</th>
        <th scope="col" class="col">Date</th>
        
    </tr>
    
    <%if @daily_reports.empty? %>
        <tr>
            <td colspan="9" scope="row" class="blank">No result found</td>
        </tr>
    <% else %>
        <% @daily_reports.each do |daily_report| %>
        <tr>
            <td scope="row"><%=daily_report.store_id %></td>
            <td scope="row"><%=daily_report.store_name %></td>
            <td scope="row"><%=daily_report.tid %></td>
            <td scope="row"><%=daily_report.txn_id %></td>
            <td scope="row"><%=daily_report.name%></td>
            <td scope="row"><%=daily_report.card_type %></td>
            <td scope="row"><%=daily_report.card_colour %></td>
            <td scope="row"><%=daily_report.amount %></td>
            <td scope="row"><%=daily_report.date%></td>
        </tr>
        <%end%>
    <%end%>
    
  
    
    

</table>
&nbsp;&nbsp;&nbsp;
    
    <!-- <div class="seconddiv"><br><div class="filter-heading"><center>FILTER</center></div><br>
        <form class="d-flex ">
        &nbsp;&nbsp; <input  onkeyup="searchStore()" id="searchbar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form><br>&nbsp;
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black select_date">Search by Date</button>
    
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom modal_content">
              <header class="w3-container w3-teal"> 
                
                <div class="modal-today" ><%=Date.today.to_s(:long)%><br><center>
                    <image src="/assets/calendar.png", height="120px",width="100px"></center></div>
                
                
                <div class="modal_date">
                <%= form_with  url:daily_report_store_url, local: true ,html: {class: "date_form"}  do |form| %>
                <%= form.date_field :day  , class:"form",required: true%> 
                <%= form.submit "OK", class:"submit"  %>
              <% end %><span  style="color:black" onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span></div>
            
          </div></div>
    </div> -->
    </div></div></div>
<br>
<div class="paginate">
    <%= paginate  @daily_reports , theme: 'bootstrap-5',
    pagination_class: "pagination-sm flex-wrap justify-content-center",
    nav_class: "d-inline-block"%>
</div>