<br>
<%=link_to image_tag("/assets/back.png", size:"30x30"),store_path,class:'btn back',role:'button'%>
<center>
<div class="edit-store">
  <h2>Edit Store</h2><br>
  <%=form_for @store  do |f|%>
  <%=render(:partial =>'form',:locals=>{:f=>f})%><br>
  <!-- <div class="form-buttons"><%= f.submit"Update Store",class:"button"%></div> -->
  <%= f.submit"Update Store",class:"btn button", type:"submit" %>
  <% end%>

</div><br>

<!-- <%=link_to image_tag("/assets/back.png", border: 0,size:"50x50"),store_path%> </center> -->
<!-- <%=link_to("Back to store list",stores_path)%> -->
