<!-- <%=@page_title="All stores"%> -->
<div class="Store index"><br>
 <br><br><br>
   <button type="button" class="btn create-store" ><%=link_to("Create new store",new_store_path,:id=>'create-store')%></button>
   <button type="button" class="btn csv-upload" ><%=link_to("UPLOAD .csv FILE",store_transactions_path,:id=>'csv-upload')%></button>
   
   <div class="row justify-content-center ">
    <div class="col-auto index-table">
    <div class="table-responsive">
    <table class="table table-hover" id="table_id"  summary="Store list">
        <tr class="header">
            <th scope="col">Store ID</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Store Name</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;City</th>
            
        </tr>
        <% @stores.each do |store| %>
        <tr>
            <td scope="row"><%=store.id%></td>
            <td scope="row"><%=link_to(store.store_name,store_path(store) ,:id=>'show')%></td>
            <td scope="row"><%=store.city%></td>
            
        </tr>
        <%end%>
    </table>
    </div>
   </div>
   </div>
</div>