<br>
<%=link_to image_tag("/assets/back.png", size:"30x30"),stores_path,class:'btn back',role:'button'%>
<center>
<div class="new-store">
  <h2>New Store</h2><br>
  <%=form_for(@store,:url=>stores_path,:method => 'post') do |f|%>
  <%=render(:partial =>'form',:locals=>{:f=>f})%><br>
  <!-- <div class="form-buttons"><%= f.submit "Create Store",class:"button"%></div> -->
  <%= f.submit "Create Store",class:"btn button", type:"submit"%>
  <% end%>

</div><br>
<!-- <%=link_to image_tag("/assets/back.png", border: 0,size:"50x50"),stores_path%> </center> -->
</center>