<!-- <%=link_to"Back to list",stores_path ,class:"back"%> -->

<button type="button" class="btn action edit"><%=link_to("Edit",edit_store_path(@store),:id=>' edit')%></button>
<!-- <div class="dropdown" >
    <button class="dropbtn"onclick="dropdown()" id="report">Reports</button>
    <div class="dropdown-content", turbolinks="false" >
        <div onclick="TestsFunction()" id="Dropdown">Daily report</div>
        <div id="TestsDiv" style="display:none">
        <%= form_with  url:daily_report_store_url, local: true   do |form| %>
            <%= form.date_field :d_a_t_e %>
            <%= form.submit  %>
        <% end %> 
        </div>
        <div onclick="TestFunction()" id="Drop">Monthly report</div>
        <div id="TestDiv" style="display:none">
        <%= form_with  url:monthly_report_store_url, local: true  do |form| %>
            <%= form.month_field :month %>
            <%= form.submit  %>
        <% end %>
        </div>
    </div>
    
</div> -->

 <br>
<center><table>
    <tr>
        <th class="column heading"><h4>STORE NAME</h4> </th>
        <td class="column"><h4><%=@store.store_name%></h4></td>
    </tr>
    <tr>
        <th class="column heading"><h4>CITY</h4></th>
        
        <td class="column city-column"><h4><%=@store.city%></h4></td>
    </tr>
</table></center><br><br>

<div class="row justify-content-center ">
<div class="col-auto index-table">
<div class="table-responsive">
<table class="table table-hover " summary="Store list"id="table_id">
<tr class="header">
    <th scope="col">Acquirer</th>
    <th scope="col">TID</th>
    <th scope="col">POS</th>
    <th scope="col">mid</th>
    <th scope="col">tid</th>
    <th scope="col">pos</th>
    <th scope="col">batch no</th>
    <th scope="col">card no</th>
    <th scope="col">Name</th>
    <th scope="col">card_issuer</th>
    <th scope="col">card_type</th>
    <th scope="col">card_colour</th>
    <th scope="col">txn_id</th>
    <th scope="col">invoice</th>
    <th scope="col">Date</th>
</tr>

<% @store_transactions.each do |store_transaction| %>
    <tr>
        <td scope="row"><%=store_transaction.acquirer%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.mid%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.batch_no%></td>
        <td scope="row"><%=store_transaction.card_no%></td>
        <td scope="row"><%=store_transaction.name%></td>
        <td scope="row"><%=store_transaction.card_issuer%></td>
        <td scope="row"><%=store_transaction.card_type%></td>
        <td scope="row"><%=store_transaction.card_colour%></td>
        <td scope="row"><%=store_transaction.txn_id%></td>
        <td scope="row"><%=store_transaction.invoice%></td>
        <td scope="row"><%=store_transaction.date%></td>
        </td>
     </tr>
   
<%end%>

   
</table>
<div>
</div>
</div>




  