
<!-- <div class="dropdown">
    <button class="dropbtn">Reports</button>
    <div class="dropdown-content">
        <p>Daily report</p>
        <%= form_with  url:daily_report_store_url, local: true   do |form| %>
            <%= form.date_field :day %>
            <%= form.submit  %>
        <% end %>  
        <p>Monthly Report</p>
        <%= form_with  url:monthly_report_store_url, local: true  do |form| %>
            <%= form.month_field :month %>
            <%= form.submit  %>
        <% end %>  
    </div>
</div> -->
<div class="edit"><center><%=link_to"Edit",edit_store_path(@store)%></center></div><br><br>
<center>
<table class="show-table" >
    <tr>
        <th ><h4>STORE NAME &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </h4></th><td></td>
        <td><h4><%=@store.store_name%></h4></td>
    </tr>
    <tr>
        <th class="city-column"><h4>CITY</h4></th><td></td>
        <td><h4><%=@store.city%></h4></td>
    </tr>
</table></center><br><br>
<div class="row justify-content-center ">
    <div class="col-auto index-table">
    <div class="table-responsive">
<table class="table table-hover " id="table_id" summary="Store list">
<tr class="header">
    <th scope="col">Acquirer</th>
    <th scope="col">TID</th>
    <th scope="col">POS</th>
    <th scope="col">mid</th>
    <th scope="col">tid</th>
    <th scope="col">pos</th>
    <th scope="col">batch no</th>
    <th scope="col">card no</th>
    <th scope="col">Name</th>
    <th scope="col">card_issuer</th>
    <th scope="col">card_type</th>
    <th scope="col">card_colour</th>
    <th scope="col">txn_id</th>
    <th scope="col">invoice</th>
    <th scope="col">Date</th>
</tr>

<% @store_transactions.each do |store_transaction| %>
    <tr>
        <td scope="row"><%=store_transaction.acquirer%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.mid%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.batch_no%></td>
        <td scope="row"><%=store_transaction.card_no%></td>
        <td scope="row"><%=store_transaction.name%></td>
        <td scope="row"><%=store_transaction.card_issuer%></td>
        <td scope="row"><%=store_transaction.card_type%></td>
        <td scope="row"><%=store_transaction.card_colour%></td>
        <td scope="row"><%=store_transaction.txn_id%></td>
        <td scope="row"><%=store_transaction.invoice%></td>
        <td scope="row"><%=store_transaction.date%></td>
        </td>
     </tr>
   
<%end%>

   
</table>
    </div></div></div>




  