<%=link_to("Back to list",stores_path)%>
<div class="dropdown">
    <button class="dropbtn">Reports</button>
    <div class="dropdown-content">
        <%=link_to("Daily report",daily_report_store_path)%>
        <input type="date" id="start" name="start">
        <%=link_to("Monthly report",monthly_report_store_path)%>
        <input type="month" id="start" name="start">
        <%=link_to("Yearly report",yearly_report_store_path)%>
        
    </div>
</div>
<center><h2><%=@page_title="Store Details"%></h2></center> <br>
<table>
    <tr>
        <th>Store Name :</th>
        <td><%=@store.store_name%></td>
    </tr>
    <tr>
        <th>City</th>
        <td><%=@store.city%></td>
    </tr>
</table>
<table class="table table-hover table-striped " summary="Store list">
<tr class="header">
    <th scope="col">Acquirer</th>
    <th scope="col">TID</th>
    <th scope="col">POS</th>
    <th scope="col">mid</th>
    <th scope="col">tid</th>
    <th scope="col">pos</th>
    <th scope="col">batch no</th>
    <th scope="col">card no</th>
    <th scope="col">Name</th>
    <th scope="col">card_issuer</th>
    <th scope="col">card_type</th>
    <th scope="col">card_colour</th>
    <th scope="col">txn_id</th>
    <th scope="col">invoice</th>
    <th scope="col">Date</th>
</tr>

<% @store_transactions.each do |store_transaction| %>
    <tr>
        <td scope="row"><%=store_transaction.acquirer%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.mid%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.batch_no%></td>
        <td scope="row"><%=store_transaction.card_no%></td>
        <td scope="row"><%=store_transaction.name%></td>
        <td scope="row"><%=store_transaction.card_issuer%></td>
        <td scope="row"><%=store_transaction.card_type%></td>
        <td scope="row"><%=store_transaction.card_colour%></td>
        <td scope="row"><%=store_transaction.txn_id%></td>
        <td scope="row"><%=store_transaction.invoice%></td>
        <td scope="row"><%=store_transaction.date%></td>
        </td>
     </tr>
   
<%end%>

   
</table>




  