<br>
<%=link_to image_tag("/assets/back.png", size:"30x30"),stores_path,class:'btn back',role:'button'%>

<!-- <button class="back"><%=link_to("Back",stores_path)%></button> -->
<center><h3 >STORE &nbsp;DETAILS</h3></center>
<div class="show_button">
<%=link_to"Edit",edit_store_path(@store),class:'btn edit',role:'button'%>
<br><br>
<div class="show-dropdown"><label class=" dropdown" >

  <div class="dd-button">
   Reports
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
    <li>
      <%=link_to"Daily Report",daily_report_store_path%>
      <%=link_to"Monthly Report",monthly_report_store_path%>
    </li>
  </ul>
  
</label>

</div></div>

<center>
<div class="show_table">
    <div class="table-row">
       <div class="table-cell">STORE &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</div>
       <div class="table-cell"><%=@store.store_name%></div>
    </div><br>
    <div class="table-row">
       <div class="table-cell city-column">CITY</div>
       <div class="table-cell"><%=@store.city%></div>
    </div>
 </div>
</center><br>
<!-- <image src="/assets/search.png", heignt="30px", width="30px", alt="serach", class="search-icon"> -->
    <!-- <form class="d-flex show-search">
    <input  onkeyup="searchStore()" id="searchbar" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
    </form> -->
   <br>
<div class="row justify-content-center ">
    <div class="col-auto">
      <div class="table-responsive">
<table class="table table-hover table-borderless table-responsive" id="show_table" summary="Store list">
<tr class="header">
    <th scope="col" class="col">Acquirer</th>
    <th scope="col" class="col">TID</th>
    <th scope="col" class="col">POS</th>
    <th scope="col"class="col">MID</th>
    <th scope="col" class="col">Batch no</th>
    <th scope="col" class="col">Card no</th>
    <th scope="col" class="col">Name</th>
    <th scope="col" class="col">Card Issuer</th>
    <th scope="col" class="col">Card Type</th>
    <th scope="col" class="col">Card Colour</th>
    <th scope="col" class="col">txn_id</th>
    <th scope="col" class="col">Invoice</th>
    <th scope="col" class="col">Date</th>
</tr>

<% @store_transactions.each do |store_transaction| %>
    <tr>
        <td scope="row"><%=store_transaction.acquirer%></td>
        <td scope="row"><%=store_transaction.tid%></td>
        <td scope="row"><%=store_transaction.pos%></td>
        <td scope="row"><%=store_transaction.mid%></td>
        <td scope="row"><%=store_transaction.batch_no%></td>
        <td scope="row"><%=store_transaction.card_no%></td>
        <td scope="row"><%=store_transaction.name%></td>
        <td scope="row"><%=store_transaction.card_issuer%></td>
        <td scope="row"><%=store_transaction.card_type%></td>
        <td scope="row"><%=store_transaction.card_colour%></td>
        <td scope="row"><%=store_transaction.txn_id%></td>
        <td scope="row"><%=store_transaction.invoice%></td>
        <td scope="row"><%=store_transaction.date%></td>
        </td>
     </tr>
   
<%end%>

   
</table>
      </div> </div></div><br>
    <div class="paginate">
    <%= paginate @store_transactions, theme: 'bootstrap-5',
    pagination_class: "pagination-sm flex-wrap justify-content-center",
    nav_class: "d-inline-block "
    %>
    </div>
    
    


  