<br>
<%=link_to image_tag("/assets/back.png", size:"30x30"),stores_path,class:'btn back',role:'button'%>
<center>
<div class="upload_csv">
    <h3 class="heading_csv"> Import CSV File </h3><br>
    
    
    <div class="input_form"><%=form_tag  import_store_transactions_path, multipart: true do %>
        <%=file_field_tag :file,accept: ".csv",required: true%> 
        <%=submit_tag  "Upload",class: "import_btn"%>

        <%end%></div>
    
        
    </div>
    <!-- <%=link_to image_tag("/assets/back.png", border: 0,size:"50x50",class:"back-icon"),stores_path%>  -->
</center>